
albumentations==2.0.8

huggingface-hub==2.0.0

ipykernel==7.3.0
matplotlib==3.11.2
matplotlib-inline==0.2.2
numpy==2.3.5
opencv-contrib-python==4.10.0.84
opencv-python==5.0.0.93
opencv-python-headless==5.0.0.93
paddleocr==3.7.0
paddlepaddle==3.3.1
paddlex==3.7.2
pandas==3.0.6
pillow==12.3.0
scikit-learn==1.9.1
scipy==1.18.1
sympy==1.14.0
torch==2.14.0
torchvision==0.29.0
tqdm==4.70.1

